/*

!/.gitignore

!/nix
/nix/*
!/nix/home.nix
!/nix/*.example.nix


!/programs
/programs/*

!/programs/nvim
/programs/nvim/*
!/programs/nvim/init.vim
!/programs/nvim/plugins

!/programs/tmux
/programs/tmux/*
!/programs/tmux/.tmux.conf

!/programs/alacritty
/programs/alacritty/*
!/programs/alacritty/alacritty.yml

!/programs/xmonad
/programs/xmonad/*
!/programs/xmonad/*.hs
